.main_wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

header {
    border-top: 5px solid #CC3D3D;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 10;
    margin-bottom: 16px;
}

.logo {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    left: 40px;
    position: absolute;
    top: 20px;
    width: 235px;
}
.headerinfo {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 15px;
}

nav.head_nav {
    background: none repeat scroll 0 0 #555555;
    height: 52px;
    position: relative;
}
nav.loginSep {
    background: none repeat scroll 0 0 #555555;
    height: 2px;
    margin: 80px 0 0;
    position: relative;
}

/* Main Menu */
.mainmenu {
    margin: auto;
    padding: 0;
    position: relative;
    width: -moz-fit-content;
    z-index: 10;
}
.mainmenu li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.mainmenu li a {
    color: #FFFFFF;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 169px;
}
.mainmenu li a i {
    margin-right: 6px;
}
.mainmenu li a:hover {
    color: #DCDCDC;
}
.mainmenu li ul.sub_menu {
    display: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
}
.mainmenu li ul.sub_menu li {
    background: none repeat scroll 0 0 #3C3C3C;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #4C4C4C;
    float: none;
    position: relative;
    width: 200px;
}
.mainmenu li ul.sub_menu li a {
    color: #FFFFFF;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 25px;
    text-align: left;
    text-transform: none;
}
.mainmenu li ul.sub_menu li:hover {
    background: none repeat scroll 0 0 #CC3D3D;
    border-bottom: 1px solid #CC3D3D;
    border-radius: 0 0 0 0;
    border-top: 1px solid #CC3D3D;
}
/* End */

/* Footer */
footer {
    background: none repeat scroll 0 0 #555555;
    height: 45px;
    width: 100%;
    position: fixed;
    padding-bottom: 0;
    bottom: 0;
}
.footer {}
.footer ul {
    margin: auto;
    padding-top: 10px;
    width: -moz-fit-content;
}
.footer p {
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.footer i {
    color: #666666 !important;
    font-size: 8px;
    margin: 0 10px;
}
.footer p a {
    color: #FFFFFF;
}
.footer p a:hover {
    color: #E49A89;
    text-decoration: none;
}
/* End */

/* Mobile */
.mobile_nav {
    display: none;
}
.mobile_menu {
    display: none;
}

/* Button */
button {
    border: medium none;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 3px 11px;
    vertical-align: middle;
}
.btn {
    background-color: #F0F0F0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn i {
    margin-right: 6px;
}
.btn i.norm {
    margin-right: 0;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    color: #333333;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-image: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    font-size: 18px;
    padding: 11px 19px;
}
.btn-med {
    font-size: 14px;
    margin-bottom: 6px;
    padding: 4px 22px;
    width: 84%;
}
.btn-small {
    font-size: 11px;
    padding: 2px 10px;
}
.btn-mini {
    font-size: 11px;
    padding: 0 6px;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #006DCC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #FAA732;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #F89406;
    color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #DA4F49;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #AB3333;
    color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #5BB75B;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51A351;
    color: #FFFFFF;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49AFCD;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2F96B4;
    color: #FFFFFF;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #363636;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    color: #FFFFFF;
}
.btn-inverse:active, .btn-inverse.active {
}
.btn-notice {
    background-color: #DCDCDC;
    color: #444444;
}
.btn-notice:hover, .btn-notice:focus, .btn-notice:active, .btn-notice.active, .btn-notice.disabled, .btn-notice[disabled] {
    background-color: #D0D0D0;
    color: #222222;
}
.btn-notice:active, .btn-notice.active {
}
.btn {
    margin-bottom: 2px;
}
.btn-med {
    padding: 4px 10.5px;
    width: 90%;
}
.btn {
    margin-bottom: 2px;
}
.btn-med {
    width: 89.5%;
}
.btn {
    margin-bottom: 2px;
}
.btn-med {
    width: 85%;
}
/* End */

/* Container */
.container .columns {
    display: inline;
    float: left;
    margin: 10px;
}
.container .one.columns {
    width: 40px;
}
.container .two.columns {
    width: 100px;
}
.container .three.columns {
    width: 160px;
}
.container .four.columns {
    width: 220px;
}
.container .five.columns {
    width: 280px;
}
.container .six.columns {
    width: 340px;
}
.container .seven.columns {
    width: 400px;
}
.container .eight.columns {
    width: 460px;
}
.container .nine.columns {
    width: 520px;
}
.container .ten.columns {
    width: 580px;
}
.container .eleven.columns {
    width: 640px;
}
.container .twelve.columns {
    width: 700px;
}
.container .thirteen.columns {
    width: 760px;
}
.container .fourteen.columns {
    width: 820px;
}
.container .fifteen.columns {
    width: 880px;
}
.container .sixteen.columns {
    width: 940px;
}
.container:after {
    clear: both;
    content: "";
    display: block;
    height: 20px;
}
.container {
    width: 768px;
}
.container .columns {
    margin-left: 10px;
    margin-right: 10px;
}
.container .one.columns {
    width: 28px;
}
.container .two.columns {
    width: 76px;
}
.container .three.columns {
    width: 124px;
}
.container .four.columns {
    width: 172px;
}
.container .five.columns {
    width: 220px;
}
.container .six.columns {
    width: 268px;
}
.container .seven.columns {
    width: 316px;
}
.container .eight.columns {
    width: 364px;
}
.container .nine.columns {
    width: 412px;
}
.container .ten.columns {
    width: 460px;
}
.container .eleven.columns {
    width: 508px;
}
.container .twelve.columns {
    width: 556px;
}
.container .thirteen.columns {
    width: 604px;
}
.container .fourteen.columns {
    width: 652px;
}
.container .fifteen.columns {
    width: 700px;
}
.container .sixteen.columns {
    width: 748px;
}
.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 0;
    padding-bottom: 40px;
}
.container .columns {
    margin: 0;
}
.container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
    width: 300px;
}
.container .columns {
    margin: 0;
}
.container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns {
    width: 420px;
}
/* End */

/* Form */
.cRform {
    margin: 0;
}
.cRform p {
    padding: 4px 0;
}
.cRform p small {
    color: #666666;
    font-size: 15px;
}
.cRform p span {
    color: #999999;
    font-size: 12px;
}
.cRform input[type="text"], .cRform input[type="password"], .cRform textarea, .cRform select {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 14px;
}
.cRform input[type="text"]:hover, .cRform input[type="password"]:hover, .cRform textarea:hover, .cRform select:hover {
    background-color: #FFFFFF;
}
.cRform input[type="text"]:focus, .cRform input[type="password"]:focus, .cRform textarea:focus, .cRform select:focus {
    background-color: #FFFFFF;
    border: 1px solid #555555;
}
.cRform input[type="text"], .cRform input[type="password"], .cRform textarea {
    margin: 4px 0 0;
    padding: 5px;
    width: 99%;
}
.cRform select {
    margin: 4px 0 0;
    padding: 5px;
    width: 100%;
}
.cRform input[readonly], .cRform select[readonly], .cRform textarea[readonly], .cRform input[disabled], .cRform select[disabled], .cRform textarea[disabled] {
    background-color: #F9F9F9;
    cursor: not-allowed;
}
.cRform input[readonly]:hover, .cRform select[readonly]:hover, .cRform textarea[readonly]:hover, .cRform input[readonly]:focus, .cRform select[readonly]:focus, .cRform textarea[readonly]:focus {
    background-color: #F9F9F9;
    cursor: not-allowed;
}
.iconForm .iconsubmit {
    background-color: transparent;
    border: medium none;
    color: #FF0000;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.form p small {
    color: #666666;
    font-size: 15px;
}
.form p span {
    color: #999999;
    font-size: 12px;
}
.alignright {
    float: right !important;
}
.droptrue { 
    border: 1px solid #CCCCCC; background: #F9F9F9; min-height: 2500px; height: 2500px; 
}
.droptrue li {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background: #444;
    color: #FFF;
}
.droparea {
    width: 45%;
    float: left;
}
.droparea.right { margin-left: 5%; }
/* End */